# Compiled
dist
dev-dist
.cache
.output
.history
.sass-cache
.now
.turbo
.wrangler
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store
.yarn/*

# testing
coverage
playwright-report
playwright/.cache
test-results

# misc
.DS_Store
Thumbs.db
*.pem
*.log*
logs*
*.d.json.ts
gitignore

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
package-lock.json
yarn.lock

# Environment
.env*
!.env.development
!.env.production

# typescript
*.tsbuildinfo

# Ignore Service Worker
sw.*
.swc

# PWA
**/public/workbox-*.js
**/public/workbox-*.js*
!**/public/sw.js
**/public/sw.js.map
**/public/fallback-*.js

# profiling files
chrome-profiler-events*.json

# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/cspell.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/mcp.json
!.vscode/settings.json
!.vscode/tailwind.json

# Sentry
.sentryclirc
.env.sentry-build-plugin

# RSS
public/rss.json
public/rss.xml
public/atom.xml

# Million Lint
.million
